ul {
  box-sizing: border-box;
  display: inline-flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5rem;
  width: auto;

  li {
    margin: 0.5rem;
  }
}
