@import "../../../variables.scss";

article {
  background-color: $secondary;
  color: white;
  padding: 1.5rem 2.5rem;

  h2 {
    background-color: $primary;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
  }
}

table {
  background-color: $primary;
  width: 100%;

  th {
    text-align: left;
  }

  td {
    text-align: center;
  }
}
