html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

aside,
footer,
header,
nav {
  background-color: red;
}

footer,
header {
  text-align: center;
}

.header {
  font-size: 46px;
}

.footer,
.sidebar {
  font-size: 10px;
}

.sidebar {
  margin: 100px;
}

.navigation {
  font-size: 12px;
  padding: 140px;
}

[class$='r'] {
  background-color: magenta;
}
