body {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

header,
footer,
aside,
nav {
  background-color: red;
}

header,
footer {
  text-align: center;
}

.header {
  font-size: 46px;
}

.footer,
.sidebar {
  font-size: 10px;
}

.navigation {
  font-size: 12px;
}

.row {
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.content {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.content article,
.header,
.footer,
.row {
  margin: 0.5rem;
}

.row .content {
  margin: 0 0.5rem;
}

.row .navigation {
  margin-right: 0.5rem;
}

.row .sidebar {
  margin-left: 0.5rem;
}

.row .content {
  flex-grow: 2;
}
