body {
  font-family: 'Roboto', sans-serif;
}

main {
  height: 100vh;
}

section {
  box-sizing: border-box;
  margin-left: 50%;
  max-height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0.5rem;
  text-align: center;
  width: 50%;
}

section ul {
  padding: 0;
  text-align: left;
}

section ul li {
  list-style: none;
}

a {
  color: blue;
  text-decoration: none;
}
