@import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import "./variables.scss";

body {
  background-color: $background;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 5vh 5vw;
}

@media (min-width: 320px) and (max-width: 767px) {
  body {
    padding: 0;
  }
}
