@import "../../../variables.scss";

form {
  background-color: $secondary;
  box-sizing: border-box;
  font-size: 1.3rem;
  height: 75vh;
  padding: 0.5rem 2.5rem;

  button {
    background-color: $button;
    border: 2px solid darken($button, 5%);
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 0 0.5rem;
    transition: background-color 0.5s, border 0.5s, box-shadow 0.3s;
  }

  button:hover {
    background-color: darken($button, 10%);
    border: 2px solid darken($button, 12%);
  }

  button:active {
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
  }

  button:focus {
    outline: none;
  }

  button:disabled {
    background-color: darken($button, 20%);
    border: 2px solid darken($button, 24%);
  }
}

div {
  background-color: $primary;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 1rem 0;
  padding: 0.5rem;

  input {
    flex: 1;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
  }

  label {
    font-weight: bold;
  }
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

@media (min-width: 320px) and (max-width: 767px) {
  form {
    height: 85vh;
    padding: 0.25rem;

    button {
      margin-left: 0.5rem;
      width: calc(100% - 1rem);
    }
  }

  div {
    margin: 0.75rem 0.5rem;
  }
}
