<main>
  <article>
    <h1>About the project</h1>
    <p>
      <b>MyMovieList</b> was created by
      <a href="https://github.com/sebastian-altamirano">Sebastian Altamirano</a>
      in the last week of the Globant Web UI bootcamp that he took part of.
    </p>
    <p>
      Movies information is obtained through TMDB API.
      <b class="not-endorsed">
        This product uses the TMDb API but is not endorsed or certified by TMDb.
      </b>
    </p>
    <img width="204" src="assets/tmdb-logo.svg" height="80" />
  </article>
</main>
